body {
  font-family:arial;
  font-size:16px;
  color:#444;
  background:url('logo.jpg') no-repeat;
}



.highlight {
  color:#bf510c;
}

a, a:visited {
  color:#bf510c;
  text-decoration:none;
}

a:active, a:hover {
  text-decoration:underline;
}


#container {
  margin-left:210px;
}

p.smaller {
  font-size:85%;
}
